.auth__footer {
  width: 100%;
  justify-self: end;
  margin-top: 197px;
}

.auth__footer_type_litle {
  margin-top: 128px;
}

.auth__button {
  width: 100%;
  height: 45px;
  border: none;
  background: #4285f4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.auth__button:hover {
  opacity: 0.8;
}

.auth__text {
  margin-top: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
}

.auth__link {
  text-decoration: none;
  color: #4285f4;
}

.auth__link:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .auth__footer {
    margin-top: 285px;
  }

  .auth__button {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__text {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}
