.header {
  width: 100%;
  display: flex;
  place-items: center;
  height: 74px;
  background-color: #073042;
}

.header_type_isauth {
  background: rgba(32, 32, 32, 1);
}

.header__container {
  width: var(--web-container);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .header__container {
    width: var(--tablet-container-second);
  }
}

@media (max-width: 767px) {
  .header__container {
    width: var(--mobile-container);
  }
}
